/**
*
* Estilos Generales de la Web
*
**/


html {
  scroll-behavior: smooth;
  background-color: lightslategray;
  width: 100%;
  overflow: hidden;
}

*{
    font-family: 'Lato', sans-serif;
    color: white;
}

body{
    margin:0;
    background-color: none !important;
}

.container-fluid{
    background-color: none;
}

/**
*
* Estilo del Header
*
**/

.colums-hd:last-child{
    text-align: center;
    padding-top: 2%;
    height: 120px;
}

.main-menu-1{
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin-top: 1%;
    margin-left: -44px;
}

.main-menu-1>li>a{
    padding-bottom:5px;
    margin-left:10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;
    color:white;
}

.main-menu-1>li>a:hover{
    color: #bb2929;
    transition: 0.3s ease all;
    border-bottom:2px #bb2929 solid;
}

.menu{
    padding-top: 25px;
}

.logo-menu{
display: flex;
padding-top:25px;
padding-bottom: 25px;
}

.logo{
    margin-left: 45%;
    margin-top: 20px;
}

header{
    z-index: 999;
    position: absolute;
    width:100%;
}

/**
*
* Japan Bar DIV
*
**/

.slide{
    width: 100% !important
}

.japan-bar{
    height:900px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)), url(../img/fondo.jpg);
    text-align:center;
}

form{
    padding-top:22%;
    display: inline-grid;
}

input{
    color:black;
}

.usuario, .contraseña, .email{
    margin-bottom: 15px;
}

.usuario, .contraseña, .bt , .email, .telefono{
    border-radius: 10px;
}

span{
    margin-bottom: 5px;
    font-size: 21px;
}

.bt{
    color: white;
    margin-top: 20px;
    width: 50%;
    margin-left: 45px;
    border-color: #bb2929;
    background-color: #bb2929;
    opacity: 0.6;
}

.bt:hover{
    border-color:#bb2929;
    background-color: #bb2929;
    opacity: 1;
    transition: 0.3s;
}

/**
*
* Estilo del Footer
*
**/

footer{
    width:100% !important;
    text-align: center !important;
    background-color: #000000;
}

.diseño{
    color: white;
    padding-left: 45%;
    padding-top: 7px;
    height: 32px;
}


/**
* 
* GESTIÓN DE DATOS
*
**/

.publicacion{
    border: 1px solid white;
    width: 54%;
    margin-left: 24%;
    margin-top: 23%;
}

.cerrar{
    width: 10%;
    margin-left: 19px;
    padding-top: 2% !important;
}