@media (min-width:360px) and (max-width:767px){
    .logo {
        margin-left: 7%;
        margin-top: 20px;
    }

    .main-menu-1 {
        list-style: none;
        display: inline-flex;
        text-align: center;
        margin-top: 23%;
        margin-left: -44px;
    }

    .main-menu-1>li>a {
        padding-bottom: 5px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none !important;
        color: white;
    }

    .japan-bar{
        padding-top: 34%;
    }

}